@model IEnumerable<ProjetoAdminSite.Models.InscricaoExterna>

@{
    ViewData["Title"] = "Listagem de Inscrições";
}

<div class="row">
    <div class="col s8">
        <h5>Listagem de Inscrições</h5>
    </div>

    <div class="col s4 right-align">
        <br />
        <a class="waves-effect waves-light btn btn-small blue darken-4" asp-action="GerarCSV" asp-controller="InscricaoExterna">
            <i class="material-icons left icones">archive</i>Gerar CSV
        </a>
    </div>
</div>

<table class="table highlight responsive-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Mensagem</th>
            <th>Data de inscrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtInscricao)
            </td>
        </tr>
        }
    </tbody>
</table>

